
body{
    margin: 0 15px;
}

header{
    box-shadow: 0 2px 4px rgba(108, 108, 108, 0.5);
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999999;
    background: #fff;
}

.logo img{
    max-width: 90px;
    padding: 10px 15px;
}

.page-intro{
    padding-top: 100px;
}