body{
    margin: 0 15px;
}

header{
    box-shadow: 0 2px 4px rgba(108, 108, 108, 0.5);
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999999;
    background: #fff;
}

.logo img{
    max-width: 90px;
    padding: 10px 15px;
}

.page-intro{
    padding-top: 75px;
}

.logo img{
    max-width: 90px;
    padding: 10px 15px;
}

.title{
    margin-bottom: 30px;
}

.sub_title{
    font-weight: 600;
    margin-bottom: 60px;
}

.agenda p{
    margin: 0;
}

.agenda_title{
    margin-bottom: 50px;
}
    


/*
ul{
    padding: 0;
}

ul > li{
    list-style: none;
}

.description_agenda .box{
    display: inline-block;
    width: 32%;
}

.description_agenda .box img{
    vertical-align: middle;
    display: inline-block;
    max-width: 60px;
    width: 100%;
}

.description_agenda .box h4{
    vertical-align: middle;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .description_agenda .box {
        width: 49%;
    }
}

@media screen and (max-width: 320px) {
    .description_agenda .box {
        width: 100%;
    }
}






