body{
    margin: 0 15px;
}

header{
    box-shadow: 0 2px 4px rgba(108, 108, 108, 0.5);
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 999999;
    background: #fff;
}

p{
    margin: 0;
}

.logo img{
    max-width: 90px;
    padding: 10px 15px;
}

.page-intro{
    padding-top: 50px;
}

.page-intro > .title{
    padding: 15px 15px 50px;
    margin : 0 -15px;
    font-weight: 600;
    background-image: url("https://png.pngtree.com/element_origin_min_pic/16/07/26/16579722b699be8.jpg");
    background-position: center;
    background-size: cover;
}

.business_group{
    margin-bottom:70px;
}

.title > .name{
    font-size: 32px;
    margin-bottom: 50px;
}

.title .order .strong{
    font-size: 40px;
}

.section{
    padding-top: 30px;
}

.section_title{
    margin-bottom: 35px;
    font-size: 28px;
    font-weight: 600;
}

.speaker{
    text-align: center;
}

.speaker > div{
    display: inline-block;
    margin: 20px 30px;
}

.speaker > div > img{
    width: 100%;
    height: 256px;
    max-width: 256px;
    margin-bottom: 10px;
}

.speaker > div > p{
    font-size: 18px;
}

.speaker > div > .name{
    color: #300EC1;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .speaker > div {
        display: block;
        
    }
}

.agenda > div {
    padding: 5px 10px;
}

.agenda br {
    display: none;
}

@media screen and (max-width: 320px) {
    .agenda br {
        display: block;
    }
}

.agenda > div:nth-child(odd) {
    background: #F5A3A3;
}

.agenda > div{
    font-size: 12px;
    font-weight: 600;
}


.agenda .location > a{
    text-decoration: none;
    color: #300EC1;
}

.agenda .location > a > img{
    max-width: 10px;
}

.agenda .name{
    color: #433F3F;
}

footer img{
    max-width: 18px;
    vertical-align: middle;
}

footer a{
    text-decoration: none;
}